html {
    height: 100%;
}

body {
    position: absolute;
    height: 100%;
    margin: 0;
    z-index: 0;
    border: none;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    /* custom NURDS values */
    --pivot-stripe-height: 10;
    --skater-radius: 13;
    --jersey-radius: 10;
    --preferred-team-A-colour: #3331A8;
    --preferred-team-B-colour: #FF9400;
}

svg {
    /* full url needed so that file dump functions */
    background: url(https://nurds.space/sportflaechen_blue.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-color: beige;
    display: block;
    width: 100%;
    height: 100%;
}

.trackBoundary {
    stroke: white;
    fill: orange;
    fill-opacity: 0;
    stroke-width: 2;
    fill-rule: evenodd;
}

.trackBackground {
    stroke: none;
    fill: orange;
    fill-opacity: 0;
    stroke-width: 0;
    fill-rule: evenodd;
}

path.virtualDistanceLine {
    stroke: #00ff00;
    fill: none;
    stroke-width: 1.4;
    stroke-dasharray: 5,3
}

.blockerNumber {
    user-select: none;
    font-size: 14px;
    font-weight: bold;
    dominant-baseline: central;
    text-anchor: middle;
    fill: white;
}

.invisible {
    /* font-size: 0px; */
    display: none;
}

.mark {
    stroke: white;
    fill: none;
    opacity: 0.6;
    stroke-width: 1.5;
}

.engagementZone {
    fill: cyan;
    stroke: none;
    fill-opacity: 0.3;
}

.skater {
    stroke-width: 4;
}

.player {
    fill: none;
}    

.pivot,.jammer,.blocker,.zebra {
    stroke-width: 0;
}

.teamA {
    stroke: #ffbb00; /* colour for team A */
    fill: #ffbb00; /* colour for team A */
}

.teamB {
    stroke: #bb00bb; /* colour for team B */
    fill: #bb00bb; /* colour for team B */
}

.OOB {
    stroke: red;
}

.pack {
    stroke: green;
}

.OOP {
    stroke: black;
}

.down {
    stroke: darkred;
    stroke-dasharray: 7 3;
}

.movable {
    cursor: move;
}

.nopack {
    stroke: lightsteelblue;
}

.zebra {
    stroke: black;
}

.JRStar {
    stroke: black;
    stroke-width: .2;
}

.recButton {
    stroke: red;
    fill: red;
}

.selected {
    /* fill: grey; */
    fill-opacity: .4;
}

.selection {
    stroke: grey;
    fill-opacity: 0.2;
    stroke-width: 1;
}

.HUD {
    position: absolute;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: rgba(0, 0, 0, 0.7);
    border-style: outset;
    color: white;
    visibility: hidden;
    z-index: 1;
    /* max-height: 100%; */
    /* max-height: 280px; */
    cursor: default;
}

.HUDcontent {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.alignRight {
    text-align: right;
    align: right;
}

.leftBound {
    left: 0;
}

.rightBound {
    right: 0;
}

.bottomBound {
    bottom: 0;
}

.startHUD {
    position: absolute;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    z-index: 1;
}

.noSelection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
